.dragon-list-table-row {
    text-align: center;
}

.dragon-list-table-icon {
    cursor: pointer;
    padding: 0 5px 0 5px;
}

.table-container {
    max-height: 65vh;
    overflow: auto !important;
}
